@import url(http://ogario.ovh/download/v2/icomoon.css);
#helloContainer[data-logged-in="0"] .btn-spectate,
body,
html {
    width: 100%
}
#clantag,
.btn-copy-token,
.btn-spectate,
.menu-panel,
.skin {
    float: left
}
.btn,
.menu-tabs {
    text-transform: uppercase
}
.clearfix,
.menu-tabs {
    clear: both
}
#next-profile:hover,
#prev-profile:hover,
.close {
    opacity: 1
}
#leaderboard-info,
#leaderboard-positions,
#profiles,
#top5-hud,
.hide-url,
.leaderboard-panel,
.menu-tabs {
    overflow: hidden
}
#overlays-hud,
#statsContinue2 {
    position: absolute
}
#message,
#pause-hud {
    transform: translate(-50%, 0)
}
#hotkeys-inst ul,
#messages,
.menu-tabs {
    list-style-type: none
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0
}
body {
    font-family: arimo;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
a,
a:hover {
    color: #337ab7
}
.main-color {
    color: #b5a642
}
#helloContainer[data-logged-in="1"] .btn-play {
    margin-left: 0;
    width: 100%
}
#helloContainer[data-logged-in="1"] .btn-spectate {
    width: 100%
}
#agario-main-buttons,
#helloContainer[data-logged-in="0"] #agario-main-buttons {
    padding: 0
}
#helloContainer[data-gamemode=":teams"] .leaderboard-panel {
    display: none
}
#helloContainer[data-gamemode=":party"] .party-panel {
    display: inline-block
}
#helloContainer {
    width: 850px;
    opacity: 1
}
.center-container {
    width: 595px;
    float: right;
    margin: 0;
}
.left-container,
.right-container {
    width: 225px;
    margin: 0;
    pointer-events: auto
}
#main-menu {
    border-radius: 2px;
    padding: 15px;
}
#main-panel {
    display: block
}
.menu-panel,
.party-panel {
    display: none
}
.agario-panel,
.btn,
.form-control,
.input-group-addon,
.input-group-sm>.input-group-addon {
    border-radius: 0
}
ol, ul {
    margin-bottom: 5px !important;
}
select option {
    color: #444;
    background: #fff;
}
.agario-panel {
    width: 595px;
    background: 0 0;
    margin: 0
}
.dboard {
    padding: 15px;
    width: 250px;
    float: left;
    border-radius: 2px;
}
#ogario-party {
    padding: 15px 110px;
    height: 105px;
    border-radius: 30px 30px 0px 0px;
}
#prof-btn-div {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.agario-panel input, .agario-panel select, .agario-side-panel input, .agario-side-panel select, #dbForm input, #dbForm select, .input-group-addon {
    border: none;
    box-shadow: none;
    border-radius: 1px;
}
.form-control:focus {
    border-color: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.agario-side-panel {
    width: 595px;
    margin: 0px;
}
.agario-side-panel h4 {
    color: #b5a642;
    font-size: 16px;
    font-weight: 700;
    text-align: center
}
#stats h2,
.agario-panel h5,
.agario-side-panel h5 {
    border-bottom: 1px solid #333;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 12px 0
}
#stats h2 {
    padding-top: 0
}
.menu-panel {
    width: 100%
}
#theme .title,
#theme .title2,
.leaderboard-panel span,
.start-tab a {
    display: block
}
.ogario-yt-panel,
.radio-panel {
    padding: 0 0 6px;
    text-align: center
}
.agario-party {
    width: 225px;
    padding: 0
}
.agario-party-6 {
    padding: 0px 10px;
    float: left;
}
.close {
    color: #b5a642;
    text-shadow: none
}
.agario-exp-bar {
    width: 290px
}
.progress-bar-star {
    right: -5px
}
.agario-panel-freecoins,
.agario-panel-gifting,
.agario-shop-panel {
    padding: 5px 15px
}
.agario-profile-panel {
    padding: 5px 15px 10px
}
.btn {
    border: none;
    border-radius: 1px;
    font-family: arimo;
    font-weight: 700;
    font-size: 12px;
    padding-top: 8px;
}
.btn:hover {
    opacity: 0.9;
}
.btn-play {
    background-color: #428bca;
    border-color: #428bca
}
.btn-play-guest {
    background-color: #5cb85c;
    border-color: #5cb85c
}
.agario-panel.agario-panel-freecoins {
    width: 100%;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#clantag,
.btn-copy-token{
    width: 33%
}
.btn-copy-token {
    height: 34px;
}
.btn-logout {
    width: 50%
}
.wrapper {
    float: left;
    width: 44%;
    margin-left: 20px;
    margin-bottom: 10px;
}
.set-label {
    float: left;
    padding-top: 2px;
}
.wrapper label {
    float: right;
}
.nav>li>a {
    padding: 7px 11px;
}
.cur-btn {
    width: 38px;
    float: right;
    height: 34px;
}
.cur-inp {
    float: left;
    width: 525px;
}
.cur-select {
    width: 30px;
    height: 30px;
    margin: 13px;
}
input.flip {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input.flip + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 2px rgba(119, 119, 119, 0.5);
    text-indent: -5000px;
    height: 25px;
    width: 45px !important;
    border-radius: 15px;
}
input.flip + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.flip + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
input.flip:checked + label:before {
  width: 45px;
}

input.flip:checked + label:after {
  left: 20px;
}
#nick {
    width: 100%
}
.skin {
    margin-top: 6px
}
.nick .input-group-btn,
.skin .input-group-btn {
    background-color: #333
}
#ogario-party .partyToken,
#region {
    width: 65%;
    margin: 6px 0 0;
    float: left
}
#gamemode {
    margin-top: 6px
}
.btn-login-play,
.btn-play-guest {
    width: 100%;
    margin-left: 0
}
.btn-play {
    width: 100%;
    margin-left: 0
}
.btn-play, .btn-play-guest {
    margin-top: 5px;
}
.btn-cancel-party,
.btn-settings {
    width: 13%;
    margin-top: 6px
}
.btn-spectate {
    margin: 6px 0 0
}
.btn-logout,
.btn-next {
    margin: 6px 0 0 2%
}
.btn-cancel-party,
.btn-copy-token,
.btn-login-play,
.btn-logout,
.nick {
    float: right
}
.btn-next {
    width: 15%;
    height: 35px;
    font-weight: 700;
    float: left
}
.btn-copy-leaderboard {
    width: 100%;
    margin: 10px 0 0
}
.btn-create-party,
.btn-join-party {
    margin: 6px 2% 0 0;
    float: left
}
#create-party-btn,
#join-party-btn {
    width: 49%!important;
    float: left!important;
    margin-top: 6px
}
#join-party-btn {
    float: right!important
}
#og-reconnect-btn {
    width: 12%;
    font-weight: 400;
    float: right;
    margin-top: 6px
}
#hide-url,
#stream-mode {
    border: none;
    color: #BBB;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin: 0
}
#hide-url.active,
#stream-mode.active {
    box-shadow: none;
    border: none;
    outline: 0
}
.hide-url {
    color: #333!important;
    text-indent: 100%;
    pointer-events: none
}
input.stream-mode {
    color: rgba(0,0,0,0)!important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important
}
input.stream-mode::-moz-selection {
    background: 0 0!important
}
input.stream-mode::selection {
    background: 0 0!important
}
.nav-tabs {
    border-bottom: 1px solid rgba(115,115,115,0.5);
}
#og-settings li a {
    padding: 9px 9.5px;
}
.menu-tabs {
    border-radius: 4px;
    width: 100%;
    height: 38px;
    font-size: 12px;
    padding: 0;
    float: left;
}
.ul-bg {
    border-radius: 4px;
    width: 100%;
    height: 38px;
    background-color: #222;
}
.menu-tabs li {
    text-align: center;
    border-top: 3px solid #aeaeae;
    padding: 9px 0;
    margin: 0;
    float: left;
}
.menu-tabs li.start-tab {
    padding: 0
}
.start-tab a {
    width: 100%;
    padding: 9px 0
}
#next-profile,
#prev-profile,
#skin-preview {
    display: inline-block;
    vertical-align: bottom
}
#profile .wrapper {
    width: 48%;
    margin: 0px;
    margin-top: 11px;
    float: left;
}
.start-tab,
.profile-tab,
.hotkeys-tab,
.settings-tab,
.theme-tab {
    width: 170px;
}
.pl .start-tab {
    width: 13%
}
.pl .profile-tab {
    width: 18%
}
.pl .settings-tab {
    width: 25.5%
}
.pl .hotkeys-tab {
    width: 22.5%
}
.pl .theme-tab {
    width: 21%
}
.menu-tabs a {
    text-decoration: none;
    color: #DDD;
    font-family: arimo;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
.menu-tabs .active {
    text-decoration: none
}
.menu-tabs li.active {
    border-top: 3px solid #fff;
    background-color: rgba(255,255,255,0.05);
    font-weight: 700;
}
.menu-tabs li:hover {
    border-top: 3px solid #fff;
    background-color: rgba(255,255,255,0.03)
}
.enb-ind {
    width: 5px;
    height: 34px;
    padding: 0px;
}
.enb-ind-off {
    background-color: #aeaeae !important;
}
#profiles {
    padding: 5px 5px 15px
}
#skin-preview {
    box-shadow: 0px 0px 10px #000;
    margin: 20px;
    margin-top: 5px;
    margin-left: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
#skin-preview img {
    width: 160px;
    height: 160px;
    border: 0;
    border-radius: 50%
}
.profbutton {
    cursor: pointer;
    background-size: contain !important;
    width: 90px;
    height: 90px;
    display: -webkit-inline-box;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border-radius: 100px;
    margin: 8px;
}
.profbutton:hover {
    width: 106px;
    height: 106px;
    margin: 0px;

}
.profbutton:active{
    border: 3px solid #fff;
}
#next-profile,
#prev-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .6;
    transition: all .2s linear;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#next-profile img,
#prev-profile img {
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%
}
.next-profile-default,
.prev-profile-default {
    opacity: .1!important
}
.next-profile-default:hover,
.prev-profile-default:hover {
    opacity: .3!important
}
.skin-preview-default {
    background: url(http://2coolife.com/img/about/4.jpg) center center no-repeat
}
#agario-main-buttons .row {
    margin: 0
}
#menu-footer,
#menu-footer-v {
    background-color: rgba(0, 0, 0, .2);
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    padding: 5px;
    overflow: hidden
}
#menu-footer-v {
    background: 0 0;
    text-align: right;
    padding: 0
}
.btn-donate {
    color: #b5a642;
    float: left
}
#menu-footer-v a,
#version a,
.btn-donate:hover {
    color: #fff
}
#version {
    float: right
}
#activepartys {
    font-weight: 700
}
#ogario-party .partyToken {
    margin: 0
}
#locationKnown #region,
#locationUnknown #region,
.nick {
    width: 65%
}
#locationUnknown #region {
    display: block;
    margin-bottom: 0
}
#leaderboard-info {
    white-space: nowrap;
    padding: 0 15px
}
#ogario-ad {
    width: 300px;
    height: 250px;
    background: url(http://ogario.ovh/download/v2/img/ogario-ad_bg.png) center center no-repeat;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0
}
#og-settings label {
    width: 19%;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    margin: 0;
    padding: 0 2%
}
#theme-options label {
    width: 50%;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    margin: 0;
    padding: 0 2%
}
#og-options {
    margin: 16px 0 6px
}
#zoom-speed-value {
    font-size: 12px;
    text-align: center;
    padding: 6px 0
}
#tags-container {
    padding-bottom: 5px
}
#og-settings input,
#theme-options input {
    margin-right: 2%
}
#theme-type label {
    color: #AAA;
    background-color: #333;
    border: none;
    font-weight: 400
}
#hotkeys,
#top5-hud h5,
.message-nick,
.toast-warning {
    font-weight: 700
}
#theme-type .active {
    background-color: #444;
    color: #DDD
}
#theme .color-box {
    width: 50%;
    padding-right: 2px;
    padding-bottom: 8px;
    float: left;
}
#theme .theme-box {
    width: 100%;
    padding-top: 0
}
#theme .title {
    text-align: left;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 10px;
}
#theme .title2 {
    text-align: center;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 10px;
}
#hotkeys,
#message,
#mode-hud,
#pause-hud,
.hud,
.hud-b {
    display: none
}
#theme .btn-save {
    width: 100%;
    margin: 12px 0 0;
    float: left
}
#theme-options {
    width: 100%;
    padding: 15px 0 10px;
    float: left
}
#stats {
    width: 350px;
    top: 0!important;
    opacity: 1!important;
    margin: 0;
    padding: 0
}
#s300x250,
#stats hr,
#statsContinue,
#statsContinue2,
#statsGraph {
    width: 350px!important
}
#s300x250,
#socialStats,
#stats hr,
#statsContinue,
#statsContinue2,
#statsGraph {
    left: 0!important;
    right: 0!important
}
#statsContinue,
#statsContinue2 {
    bottom: 0
}
#statsText {
    color: #BBB
}
#statsSubtext {
    color: #DDD
}
#stats hr {
    border-top: 1px solid #333
}
#statsPelletsContainer,
#statsPlayerCellsEatenContainer,
#statsTimeAliveContainer {
    left: 30px
}
#statsHighestMassContainer,
#statsTimeLeaderboardContainer,
#statsTopPositionContainer {
    right: 30px
}
.btn-twitter {
    border: 1px solid #3b89c3
}
#overlays-hud {
    z-index: 100
}
.hud,
.hud-b {
    background-color: rgba(51,51,51,0.4);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    padding: 2px 10px;
    position: fixed;
    pointer-events: none
}
#leaderboard-positions span,
#messages li,
#stats-hud,
#time-hud {
    display: block
}
#message,
#minimap,
#minimap-sectors {
    position: absolute
}
.hud-top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#mode-hud,
#time-hud {
    width: 200px;
    top: 260px;
    right: 10px;
    text-align: center
}
.hud-bottom {
    bottom: 0px;
    left: 0px;
}
#messages,
.toast-bottom-left {
    left: 10px;
    bottom: 86px
}
.hud-text-center {
    text-align: center
}
#pause-hud {
    top: 50px;
    left: 50%;
}
#stats-hud {
    white-space: pre;
}
#top5-hud {
    width:240px;
    font-size:14px;
    top:55px;left:10px;
    white-space:nowrap
}
#top5-hud h5 {
    font-size: 14px;
    text-align: center;
    margin: 6px 0
}
#top5p-hud {
    padding-left: 15px
}
#minimap-hud {
    width: 200px;
    height: 200px;
    padding: 0;
    right: 5px;
    bottom: 5px
}
#minimap-sectors {
    opacity: .1
}
#leaderboard-hud {
    width: 200px;
    display: block;
    white-space: nowrap;
    padding: 0;
    top: 10px;
    right: 10px
}
#leaderboard-hud h4 {
    text-align: center;
    margin: 6px;
    font-family: oswald;
    font-size: 26px;
    font-weight: 400;
}
#leaderboard-positions {
    font-size: 14px;
    padding: 0 10px 6px
}
#leaderboard-positions .clan-color {
    color: #00C8FF
}
#time-hud {
    font-size: 15px;
    padding: 6px 0
}
#mode-hud {
    font-size: 14px;
    padding: 2px 0
}
#mode-hud .state {
    color: #FF0A00
}
#message {
    width: 37%;
    height: 40px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #FFF;
    padding: 0 10px;
    left: 50%;
    bottom: 40px;
    z-index: 210;
}
#message::-webkit-input-placeholder {
    color: #598C40
}
#message::-moz-placeholder {
    color: #598C40
}
#toast-container>div {
    width: 180px;
    box-shadow: none;
    padding: 15px 15px 15px 50px;
    opacity: 1;
    z-index: 220
}
#hotkeys-cfg,
#hotkeys-inst {
    position: absolute;
    left: 0;
    right: 0
}
#toast-container>:hover {
    box-shadow: 0 0 12px #999;
    cursor: pointer
}
#toast-container>.toast-success {
    background-image: none!important;
    padding-left: 10px
}
.toast-success {
    background-color: rgba(0, 0, 0, .4)
}
.toast-warning {
    background-color: #b5a642
}
.toast-info {
    background-color: #337ab7
}
#messages {
    width: 300px;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 210
}
#messages li {
    width: 280px;
    background-color: rgba(0, 0, 0, .4);
    color: #00574A;
    border-radius: 3px;
    word-wrap: break-word;
    padding: 10px;
    margin: 0 0 6px
}
#hotkeys {
    position: absolute;
    top: 5%;
    left: 3%;
    right: 3%;
    bottom: 5%;
    z-index: 1000;
    opacity: 1
}
#hotkeys-inst {
    bottom: 0;
    z-index: 1002;
    color: #AAA;
    font-weight: 400;
    text-align: center;
    box-shadow: 0px 0px 10px #353535;
}
#hotkeys-menu {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1002;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px #353535;
}
#hotkeys-menu .btn {
    margin: 0 10px
}
#hotkeys-inst ul {
    margin: 7px
}
#hotkeys-inst li:first-child {
    font-weight: 700
}
#hotkeys-cfg {
    top: 75px;
    bottom: 75px;
    z-index: 1001;
    overflow-y: auto
}
#hotkeys-cfg div {
    display: inline-block;
    vertical-align: middle
}
#hotkeys-cfg div.row {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    margin: 0;
    padding: 12px 0
}
#hotkeys-cfg div.row:hover {
    background-color: #111
}
#hotkeys-cfg .key-label {
    width: 60%;
    padding: 0 2%
}
#hotkeys-cfg .custom-key,
#hotkeys-cfg .default-key {
    width: 20%;
    text-align: center;
    padding: 0 2%
}
#hotkeys-cfg .command-in {
    border: none;
}
#hotkeys-cfg .custom-key-in {
    color: #FFF;
    background-color: #e33350;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer
}
.btn-hotkeys {
    margin: 5px 0 15px
}
.flipcont {
    float: left;
    width: 100%;
}
.menuThemeType {
    width: 100px;
    height: 26px;
    background: #333;
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.menuThemeType:after {
    content: 'DARK';
    font: 12px/26px Arimo, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.menuThemeType:before {
    content: 'LIGHT';
    font: 12px/26px Arimo, sans-serif;
    color: #ffffff;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.menuThemeType label {
    display: block;
    width: 45px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, d#b3bea 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.menuThemeType input[type=checkbox]:checked + label {
    left: 52px;
}
.menuThemeType input {
    visibility: hidden;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: default;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover {
    border: none;
}
.nav-tabs>li>a {
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
#og-settings .tab-content {
    margin-top: 25px;
}
#theme .tab-content {
    margin-top: 20px;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 3px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  border: 5px solid;
  height: 22px;
  width: 22px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
.theme-slider {
    padding: 7px;
    height: 34px;
}
.profile-box {
    padding: 5px;
    height: 200px;
    width: 100%;
}
#prof-stats {
    position: relative;
    float: right;
    width: 365px;
    height: 190px;
    padding: 10px;
}
#prof-pic {
    cursor: pointer;
    background-color: #fff; 
    height: 190px;
    width: 190px;
    float: left;
    background-size: contain !important;
}
#lvl-bar {
    background: #fff;
    width: 345px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    float: left;
}
#lvl-bar-inner {
    width: 1%;
    height: 15px;
    position: absolute;
    float: left;
}
#xp-box {
    position: absolute;
    bottom: 25px;
    text-align: right;
    width: 345px;
}
.prof-info {
    width: 100%;
    text-align: center;
    padding: 19px;
    font-weight: 600;
    font-size: 24px;
}
.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
    -ms-overflow-style: none
}
@supports (-ms-overflow-style: none) {
    .ps-container {
        overflow: auto !important
    }
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .ps-container {
        overflow: auto !important
    }
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999
}

.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x,
.ps-container>.ps-scrollbar-y-rail {
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #636363;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    height: 8px
}

.ps-container>.ps-scrollbar-y-rail {
    display: none;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 5px;
    width: 8px
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #636363;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 8px
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #383838;
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #636363;
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #383838;
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #636363;
}

.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: .6
}

.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: .9
}

.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #636363;
}

.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #383838;
    opacity: .9
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #636363;
}
#chatroom {
    resize: both;
    width: 290px;
    height: 250px;
    top: 60%;
    left: 1px;
    position: fixed;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 10px;
    color: #fff;
}
#msg {
    margin: 5px;
}
.time {
    color: #00777A;
    font-size: 12px;
    font-weight: 600;
    margin-right: 4px;
}
.radiobox {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 10px 15px;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}
.radiohead {
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-family: ubuntu;
    margin: 0px;
    margin-bottom: 2px;
    font-size: 12px;
}
#targetinfo-hud {
    text-shadow: 0 0 5px #000;
    font-size: 15px;
    color: #fff;
    left: 50%;
    position: fixed;
    top: 120px;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}